.images {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 0.8fr);
    gap: 12px;
    padding: 12px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .feature {
        grid-template-columns: repeat(2, 1fr);
    }
}

.heading{
    font-size: 2.8rem;
  font-weight: 700;
  color: #1b2a41;
  margin: 0 auto 12px auto;
  padding: 10px 0;
  text-align: center;
  width: fit-content;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s ease;
}

.heading::after{
    content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scaleX(0.5); /* Centered and scaled to 50% width */
  transform-origin: center;
  width: 60px;
  height: 4px;
  background: grey;
  border-radius: 2px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.heading:hover::after {
  transform: translateX(-50%) scaleX(2.5); /* Expand to full */
  background-color: #4a90e2;
}
.heading:hover {
  transform: scale(1.05);
}
.feature{
    background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease;
  /* width: 100%; */
}

.feature:hover{
    transform: translateY(-8px);
}